* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Zen Tokyo Zoo', cursive;
    background-color: hsl(185, 41%, 84%);
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin-top: 1rem;
}

.text-focus-in {
    animation: text-focus-in 1s cubic-bezier(.55, .085, .68, .53) both
}

@keyframes text-focus-in {
    0% {
        filter: blur(12px);
        opacity: 0
    }
    100% {
        filter: blur(0);
        opacity: 1
    }
}

:root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * .9);
}

.board {
    height: 500px;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, auto);
}

.cell {
    width: var(--cell-size);
    background: rgb(255, 255, 255);
    height: 100px;
    border: rgb(0, 0, 0) 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n+1) {
    border-left: none;
}

.cell:nth-child(3n+0) {
    border-right: none;
}

.cell:last-child,
.cell:nth-child(7),
.cell:nth-child(8) {
    border-bottom: none;
}

.cell.x::after,
.cell.x::before {
    content: "";
    width: 10px;
    height: 80px;
    position: absolute;
    background-color: rgb(218, 101, 188);
}

.cell.x::before {
    transform: rotate(45deg);
}

.cell.x::after {
    transform: rotate(-45deg);
}


/* circle */

.cell.circle::after,
.cell.circle::before {
    content: "";
    position: absolute;
    border-radius: 50%;
}

.cell.circle::before {
    width: var(--mark-size);
    height: var(--mark-size);
    background-color: rgb(52, 119, 158);
}

.cell.circle::after {
    width: calc(var(--mark-size)*.7);
    height: calc(var(--mark-size)*.7);
    background-color: white
}

.cell.x,
.cell.circle {
    cursor: not-allowed;
}

.winning-draw-message {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .9);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    flex-direction: column;
}

.winning-draw-message button {
    font-size: 3rem;
    background-color: white;
    border: 1px solid black;
    padding: .25em .5em;
    cursor: pointer;
}

.winning-draw-message button:hover {
    background-color: black;
    color: white;
    border-color: white;
}

.winning-draw-message.show {
    display: flex;
}